* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --text-black: #3b3b3b;
  --text-grey: #c8c8c8;
  --bg-grey: #f0f0f0;
  --main-orange: #f0873e;
}
